<html>
    <body 
    background="E:\flask_learn\my_project\src\assets\fantasy-3313964.jpg"
    background-attachment:fixed;
    background-size:100% 100%; ">
    >
        <div class="title">
  
            <h1>SVision</h1>
            <h1 class="c-text">滨海新区综合保税区智慧安防系统</h1>
        </div>
        <div class="hyper-link">
            <h2 href="\temp">Copyright © 2023 SVision All right reserved</h2>
        </div>
    </body>

</html>

  
  <style>

  .background {
    background-color: black;
  }


  .title {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 65px;
    text-align: left;
    color: white;
    display: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .title .c-text {
    font-family: '宋体';
  }

  .hyper-link {
    text-align: center;
    color: #009dff;
  }
  
  </style>