.colorcolor {
    color: #009dff;
    color: #22e4ff;
    color: #3bffd0;
    color: #04e38a;
    color: #9dff86;
    color: #fee588;

    color: rgb(4, 227, 138);
    color: #414141;
    color: #1e1f1c;
    color: #272822;

    color: #62f0ff;
    color: #30c2ff;
    color: #0197ff;

}